{% extends 'base_student.html'%}

{% block title %}Student | Project Detail{% endblock %}

{% block content %}
    <p>Project Details</p>

    <p><strong>Title</strong>: {{project.title}}</p>
    <p>
        Posted By:
        <a href="{% url 'stud-fac-detail' project.faculty.id %}">
            {{project.faculty.full_name}}
        </a>
    </p>
    <p><strong>Description</strong>: {{project.description}}</p>
    <p><strong>Hours/Week</strong>: {{project.hours_per_week}} hour(s)</p>
    <p><strong>Skills</strong>:
        {% for skill in project.skills.all %}
            {{skill.name}} ({{skill.area}}),
        {% endfor %}
    </p>
    <hr>
    <div>
        {% if stud_rel %}
            <p>You applied for this project on {{stud_rel.creation_datetime}}.</p>
            <br>
            {% if project.is_closed %}
                <p>Project deadline has passed.</p>
            {% else %}
                <a href="{% url 'projects:stud-project_stud_rel-delete' project.id %}"
                   class="btn btn-primary" id="deleteButton">
                    Remove Application
                </a>
            {% endif %}
        {% else %}
            <p>You haven't applied for this project.</p>
            <br>
            {% if project.is_closed %}
                <p>Project deadline has passed.</p>
            {% else %}
                <a href="{% url 'projects:stud-project_stud_rel-create' project.id %}"
                   class="btn btn-primary" id="createButton">
                    Apply
                </a>
            {% endif %}
        {% endif %}
    </div>
    <hr>
{% endblock %}
