{% extends 'base_student2.html' %}

{% block title %}Student | Profile Detail{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Profile Detail</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h4 class="header">Profile Detail</h4>
                    <div class="divider" style="margin-bottom: 10px"></div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Name
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.full_name }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Roll No
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.roll_no }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Web Mail
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.web_mail }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Gender
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.gender }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Hostel
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.hostel }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Room No
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.room_no }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Alternate Email
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.alternate_email }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Mobile (Campus)
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ stud.mobile_campus }}
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4 class="header">Update Profile</h4>
                    <div class="divider"></div>
                    <p>
                        <a class="btn" href="{% url 'stud-update' %}">
                            Update Profile
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
