{% extends 'base_faculty.html' %}
{% load crispy_forms_tags %}

{% block title %}Faculty | Create Project{% endblock %}

{% block custom_styles %}
<style type="text/css">select {  width: 500px; }</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <h4>Create a new Project</h4>
        <div class="well">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-primary" type="submit" value="Create" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

