{% extends 'base_faculty2.html' %}

{% block title %}Faculty | Project Detail{% endblock %}

{% block breadcrumb %}
    <nav>
        <div class="container">
            <div class="nav-wrapper left">
                <div class="col s12">
                    <a href="{% url 'fac-home' %}" class="breadcrumb">Home</a>
                    <a href="{% url 'projects:fac-project-list' %}" class="breadcrumb">Project List</a>
                    <a href="#" class="breadcrumb">Project Detail</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">

                <div class="section scrollspy">
                    <h4 class="header">Project Details</h4>
                    <div class="divider"></div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Title</div>
                        <div class="col l10 m9 s8 field-value">{{ project.title }}</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Description</div>
                        <div class="col l10 m9 s8 field-value">{{ project.description }}</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Hours/Week</div>
                        <div class="col l10 m9 s8 field-value">{{ project.hours_per_week }} (hours)</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Tags</div>
                        <div class="col l10 m9 s8 field-value">
                            {% for skill in project.skills.all %}
                                <div class="chip">{{skill.name}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Other requirements</div>
                        <div class="col l10 m9 s8 field-value">{{ project.requirements }}</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Tentative start Date</div>
                        <div class="col l10 m9 s8 field-value">{{ project.start_date }}</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Tentative end Date</div>
                        <div class="col l10 m9 s8 field-value">{{ project.end_date }}</div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">Application date</div>
                        <div class="col l10 m9 s8 field-value">
                            {% if project.is_closed %}
                                Application for project closed on {{project.closing_datetime}}.
                            {% else %}
                                Application for project will close on {{project.closing_datetime}}
                            {% endif%}
                        </div>
                    </div>
                </div>

                <div class="section scrollspy">
                        <h4 class="subheader">Edit Project</h4>
                        <div class="divider"></div>
                        <p>Is something wrong?</p>
                        <p>
                            <a href="{% url 'projects:fac-project-update' project.id %}" class="btn">
                                Edit Project
                            </a>
                        </p>
                        <div class="divider"></div>
                    </div>

                <div class="section scrollspy">
                    <h4 class="header">Applicants</h4>
                    <div class="divider bottom10"></div>
                    {% if stud_rel_list.count < 1 %}
                        <p>
                            <strong>
                                No student has yet applied for this project.
                            </strong>
                        </p>
                    {% else %}
                        <p>
                            <strong>Note: </strong> Clicking mail button in the table below will
                            open your default mail application with following body.
                        </p>
                        <blockquote>
                            Hello student_name,
                            <br>
                            This mail is a confirmation of your selection to
                        </blockquote>
                        <p>You can edit the mail body before sending it to the student.</p>
                        <div class="divider bottom10"></div>
                        <table class="table responsive-table centered">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Name</th>
                                    <th>Web Mail</th>
                                    <th>Status</th>
                                    <th>Mail</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stud_rel in stud_rel_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ stud_rel.student.full_name }}</td>
                                        <td>{{ stud_rel.student.web_mail }}</td>
                                        <td>{{ stud_rel.status }}</td>
                                        <td><a class="btn">Mail</a></td>
                                        <td>
                                            <a href="{% url 'fac-student-detail' stud_rel.student.id %}"
                                               class="btn-xs btn" >Detail</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}