{% extends 'base_faculty2.html' %}

{% block title %}Faculty | Project List{% endblock %}

{% block breadcrumb %}
    <nav>
        <div class="container">
            <div class="nav-wrapper left">
                <div class="col s12">
                    <a href="{% url 'fac-home' %}" class="breadcrumb">Home</a>
                    <a class="breadcrumb">Project List</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                {% if project_list.count < 1 %}
                <div class="section">
                    <h4>Project List</h4>
                    <p class="caption">This project lists all projects posted from this account.</p>
                    <div class="divider bottom10"></div>
                    <p><strong>No project has been posted form this profile.</strong></p>
                </div>
                {% else %}
                <div class="section">
                    <h4 class="header">Project List</h4>
                    <p>
                        This page lists all projects posted from this account.
                        <br>
                        Click on <strong>DETAIL</strong> and <strong>UPDATE</strong>
                        buttons to view details and modify project respectively.
                    </p>
                    <div class="divider bottom10"></div>
                    <table class="table responsive-table centered">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Title</th>
                                <th>Applicants</th>
                                <th>Closing Date</th>
                                <th>Detail</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{project.title}}</td>
                                    <td>{{project.applicants.count}}</td>
                                    <td>
                                        {% if project.is_closed %}
                                            {{project.closing_datetime}} (Closed)
                                        {% else %}
                                            {{project.closing_datetime}}
                                        {% endif%}
                                    </td>
                                    <td>
                                        <a class="btn waves-effect waves-green" href="{% url 'projects:fac-project-detail' project.id %}">
                                            Detail
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn waves-effect waves-green" href="{% url 'projects:fac-project-update' project.id %}">
                                            Update
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="divider"></div>
                </div>
                {% endif %}
                <div class="section">
                    <p>
                        <a class="btn btn-primary" href="{% url 'projects:fac-project-create'%}">
                            Create new Project
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
