{% extends 'base_faculty2.html' %}
{% load static %}

{% block title %}Faculty | Search Project {% endblock %}

{% block breadcrumb %}
    <nav>
        <div class="container">
            <div class="nav-wrapper left">
                <div class="col s12">
                    <a href="{% url 'fac-home' %}" class="breadcrumb">Home</a>
                    <a class="breadcrumb">Search Projects</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h4 class="header">Search Project</h4>
                    <div class="divider bottom10"></div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row">
                                <div class="input-field col s12 l12 m12">
                                    {{ field.errors }}
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            </div>
                        {% endfor %}
                        <input class="btn" type="submit" value="Search" />
                    </form>
                </div>

                {% if results and project_list.count < 1 %}
                    <div class="section">
                        <h4 class="header">Search Results</h4>
                        <div class="divider" style="margin-bottom: 10px"></div>
                        <p><strong>No matching projects found.</strong></p>
                    </div>
                {% endif %}

                {% if project_list.count > 0%}
                    <div class="section">
                        <h4>Search Results</h4>
                        <p><strong>{{ project_list.count }} results found. </strong></p>
                        <div class="divider" style="margin-bottom:10px"></div>
                        <table class="table responsive-table centered">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Title</th>
                                    <th>Posted By</th>
                                    <th>Closing Date</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in project_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{project.title}}</td>
                                    <td>{{project.faculty.full_name}}</td>

                                    <td {% if project.is_closed %}class="danger"{% endif %}>
                                        {% if project.is_closed %}
                                            {{project.closing_datetime}} (Closed)
                                        {% else %}
                                            {{project.closing_datetime}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'projects:fac-project-search-detail' project.id %}"
                                           class="btn btn-flat">
                                            Detail
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block end_scripts %}
    <script>
    $(document).ready(function() {
        $('select').material_select();
      });
    </script>
{% endblock %}