{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="IITG FSC Portal">
    <meta name="author" content="Narendra Choudhary">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
    {{ form.media.css }}
    {% block custom_styles %}{% endblock %}
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .navbar {
          margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
    {% block body %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; IIT Guwahati</p>
        </div>
    </footer>

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ form.media.js }}
    <script src="{% static 'js/faculty_update_ajax.js' %}"></script>
    <script>
        $('#faculty-profile-form').on('submit', function (e) {
            e.preventDefault();
            update_profile();
        })
    </script>
</body>
</html>