{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="Centre for Career Development IIT Guwahati">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="{% static 'icons/material-icons.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fscp.css' %}">
    {% block custom_styles %}{% endblock %}
</head>

<body>

<header>
    {% block nav %}{% endblock %}
    {% block breadcrumb %}{% endblock %}
</header>

<main>
	{% block main %}{% endblock %}
</main>

<footer class="page-footer fixed grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">&#2358;&#2379;&#2343;, IIT Guwahati</h5>
				<p class="white-text">
                    The aim of &#2358;&#2379;&#2343; is to connect faculty who require
                    assistance on their research projects with interested members of the
                    student community. The approach has been to minimise the barrier of
                    usability in order to promote undergraduate and interdepartmental research
                    collaborations.
				</p>
                <p class="white-text">
                    <strong>Guided by the Director, Dean SA and Chairman, Students' Welfare Board.</strong>
                </p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
                        <a class="white-text" href="http://www.iitg.ernet.in/phones/" target="_blank">
                            Telephone Directory
                        </a>
                    </li>
					<li>
                        <a class="white-text" href="http://www.iitg.ernet.in/acad/acadCal/academic_calander.htm" target="_blank">
                            Academic Calendar
                        </a>
                    </li>
					<li>
                        <a class="white-text" href="https://webmail.iitg.ernet.in/src/login.php" target="_blank">
                            Webmail
                        </a>
                    </li>
					<li>
                        <a class="white-text" href="http://www.iitg.ernet.in" target="_blank">
                            IITG Website
                        </a>
                    </li>
				</ul>
			</div>
			<div class="col l3 s12">
                <h5 class="white-text">Feedback</h5>
                <p class="white-text">
                    Write to gensec_welfare [at] iitg.ernet.in and swc [at] iitg.ernet.in 
                    for queries, comments or just a hello!
                </p>
                <p class="white-text">
                <strong>
                    Designed, developed and maintained by SWC, IIT Guwahati.
                </strong>
                </p>
			</div>
		</div>
	</div>
	<div class="footer-copyright grey darken-4">
		<div class="container">
			&copy; 2016-17 SWC, IIT Guwahati.
		</div>
	</div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>

<script>
	$(document).ready(function(){
	    $(".dropdown-button").dropdown();
	    $('select').material_select();
		$('.toc-wrapper').pushpin({
			top: 250
		});
		$('.scrollspy').scrollSpy();
	});
	$('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 5,
        format: 'yyyy-mm-dd'
      });
	$(".button-collapse").sideNav({
	    closeOnClick: true,
        draggable: true
    });
</script>

{% block end_scripts %}{% endblock %}

</body>
</html>
