{% extends 'base_faculty2.html' %}

{% block title %}Faculty | Profile Detail{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'fac-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Profile Details</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="section">
                <h4 class="header">Profile Details</h4>
                {% if fac.last_updated %}
                    <p>Profile was last updated on {{fac.last_updated}}</p>
                {% endif %}
                <div class="divider"></div>
                <br>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Name
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ fac.full_name }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Web Mail
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ fac.web_mail }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        URl of Homepage
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ fac.homepage_url | default_if_none:""}}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Department
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ fac.department }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Room No
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ fac.room_no }}
                    </div>
                </div>
            </div>
            <div class="section">
                <h4 class="header">Update Profile</h4>
                <p>Click the button below to update profile informaton displayed above.</p>
                <div class="divider"></div>
                <br>
                <div class="row model-field">
                    <div class="col">
                        <a href="{% url 'fac-update' %}" class="btn waves-effect waves-light">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
