{% extends 'base_faculty2.html' %}

{% block title %}Faculty | Profile Update{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'fac-home' %}" class="breadcrumb">Home</a>
                <a href="{% url 'fac-detail' %}" class="breadcrumb">Profile Details</a>
                <a class="breadcrumb">Profile Update</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="section">
            <h4>Profile Update</h4>
            <div class="divider bottom10"></div>
            <form class="col l8 m12 s12" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            <span class="red-text">{{ field.error }}</span>
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" name="_submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block end_scripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}