{% extends 'base_faculty.html' %}

{% block title %}Faculty | Search{% endblock %}

{% block content %}
<form action="" method="post" id="search-form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search" />
</form>
{% if faculty_list.count > 0%}
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Department</th>
            <th>Webmail</th>
            <th>Room No</th>
            <th>All Projects</th>
        </tr>
        {% for faculty in faculty_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{faculty.full_name}}</td>
            <td>{{faculty.department}}</td>
            <td>{{faculty.webmail}}</td>
            <td>{{faculty.room_no}}</td>
            <td><a href="#" class="btn-sm btn-primary">All Projects</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}

{% endif %}
{% endblock %}