{% extends 'base_faculty.html' %}
{% load crispy_forms_tags %}

{% block title %}Faculty | Search{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <form action="" method="post" id="search-form">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <input class="btn btn-primary" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            {% if results and  stud_list.count < 1 %}
                <p><strong>No results matching your query was found.</strong></p>
            {% endif %}

            {% if stud_list.count > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Web Mail</th>
                        <th>Detail</th>
                    </tr>
                    {% for stud in stud_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{stud.full_name}}</td>
                        <td>{{stud.web_mail}}</td>
                        <td>
                            <a class="btn-sm btn-primary"
                               href="{% url 'fac-search-student-detail' stud.id %}">
                                Detail
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}