{% extends 'base_faculty2.html'%}

{% block title %}Faculty | Student Detail{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="#" class="breadcrumb">Home</a>
                <a href="#" class="breadcrumb">Project Detail</a>
                <a href="#" class="breadcrumb">Student</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Student details</h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
<p>Student Details</p>
<p>Name : {{stud.full_name}}</p>

{% if stud_rel_list.count > 0 %}
<p>Projects completed or currently undertaken by {{stud.full_name}}.</p>
<table class="table table-bordered table-responsive table-hover">
    {% for stud_rel in stud_rel_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{stud_rel.project.title}}</td>
            <td>{{stud_rel.project.faculty.full_name}}</td>
            <td>{{stud.status}}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>{{stud.full_name}} has not undertaken any project yet.</p>
{% endif %}

{% endblock %}